{% extends "base.html" %}
{% block content %}
    <h1 class="text-light text-center">AVALIAÇÃO DE COMPOSIÇÃO CORPORAL X</h1>
    <hr style="color: white;">
    <table class="text-light table align-middle text-center">
        <tr>
            <td>Height</td>
            <td>{{height}}</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>{{weight}}</td>
        </tr>
        <tr>
            <td>Fat Count</td>
            <td>{{fat_count}}</td>
        </tr>
    </table>
    <h3 class="text-light text-center">Weight and Fat count history</h3>
    
    <canvas id="myChart" class="position-relative start-50 translate-middle-x" style="width:100%;max-width:600px; background-color: aliceblue;"></canvas>
    
    <div class="d-flex justify-content-center">
        <p class="text-light text-center mx-2">🟥 -> Height</p>
        <p class="text-light text-center mx-2">🟩 -> Weight</p>
        <p class="text-light text-center mx-2">🟦 -> Fat Count</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        const xValues = ['{{date}}',200,300,400,500,600,700,800,900,1000]; // tempo

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{ // valores do historico
                    data: ['{{height}}',1140,1060,1060,1070,1110,1330,2210,7830,2478], // Height
                    borderColor: "#F8312F",
                    fill: false
                }, { 
                    data: ['{{weight}}',1700,1700,1900,2000,2700,4000,5000,6000,7000], // Weight
                    borderColor: "#00D26A",
                    fill: false
                }, { 
                    data: ['{{fat_count}}',700,2000,5000,6000,4000,2000,1000,200,100], // fat count
                    borderColor: "#00A6ED",
                    fill: false
                }]
            },
            options: {
                legend: {display: false}
            }
        });
    </script>
{% endblock %}