{% extends "base.html" %}
{% block content %}
    <h1 class="text-light text-center">AVALIAÇÃO DE COMPOSIÇÃO CORPORAL X</h1>
    <hr style="color: white;">
    <h3 class="text-light text-center">DOBRAS CUTÂNEAS</h3>
    <table class="text-light table align-middle">
        <tr>
            <td>Bicipital</td>
            <td>8,3mm</td>
            <td>Axilar Média</td>
            <td>8,3mm</td>
        </tr>
        <tr>
            <td>Tricipital</td>
            <td>8,3mm</td>
            <td>Abdominal</td>
            <td>8,3mm</td>
        </tr>
        <tr>
            <td>Subscapular</td>
            <td>8,3mm</td>
            <td>Tricipital</td>
            <td>8,3mm</td>
        </tr>
        <tr>
            <td>Peitoral</td>
            <td>8,3mm</td>
            <td>Coxa Média</td>
            <td>8,3mm</td>
        </tr>
        <tr>
            <td>Supra-espinal</td>
            <td>8,3mm</td>
            <td>Perna Medial</td>
            <td>8,3mm</td>
        </tr>
    </table>
    <h3 class="text-light text-center">CIRCUNFERÊNCIAS</h3>
    <table class="text-light table align-middle">
        <tr>
            <td>Braço Relaxado</td>
            <td>8,3mm</td>
            <td>Abdome</td>
            <td>8,3mm</td>
        </tr>
        <tr>
            <td>Braço Contraído</td>
            <td>8,3cm</td>
            <td>Quadril</td>
            <td>8,3cm</td>
        </tr>
        <tr>
            <td>Antebraço</td>
            <td>8,3cm</td>
            <td>Coxa Média</td>
            <td>8,3cm</td>
        </tr>
        <tr>
            <td>Torax</td>
            <td>8,3cm</td>
            <td>Perna dir.</td>
            <td>8,3cm</td>
        </tr>
    </table>
    <h3 class="text-light text-center">DIÂMETROS ÓSSEOS</h3>
    <table class="text-light table align-middle">
        <tr>
            <td>Biestilóide</td>
            <td>8,3mm</td>
            <td>Biepicondiliano do Fêmur</td>
            <td>8,3mm</td>
        </tr>
        <tr>
            <td>Biepicondiliano do Úmero</td>
            <td>8,3cm</td>
            <td>Bimaleolar</td>
            <td>8,3cm</td>
        </tr>
    </table>
    <h3 class="text-light text-center">FRAÇÕES DA MASSA CORPORAL</h3>
    <table class="text-light table align-middle">
        <tr>
            <td>Massa Muscular</td>
            <td>8,3kg</td>
        </tr>
        <tr>
            <td>Massa Gorda</td>
            <td>8,3kg</td>
        </tr>
        <tr>
            <td>Massa Óssea</td>
            <td>8,3kg</td>
        </tr>
        <tr>
            <td>Massa Residual</td>
            <td>8,3kg</td>
        </tr>
    </table>
    <table class="text-light table align-middle">
        <tr>
            <td>Densidade Corporal</td>
            <td>Índice Conicidade¹</td>
            <td>IMC²</td>
            <td>ICQ³</td>
            <td>%G</td>
        </tr>
        <tr>
            <td>1,06</td>
            <td>1,28</td>
            <td>23,3</td>
            <td>0,78</td>
            <td>15,1</td>
        </tr>
    </table>
{% endblock %}